.navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
  }

  /* Navigation links */
  .navbar a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    width: 25%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
    text-align: center; /* If you want the text to be centered */
  }

  /* Add a background color on mouse-over */
  .navbar a:hover {
    background-color: #000;
  }

  /* Style the current/active link */
  .navbar a.active {
    background-color: #04AA6D;
  }

  /* Add responsiveness - on screens less than 500px, make the navigation links appear on top of each other, instead of next to each other */
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
      width: 100%;
      text-align: left; /* If you want the text to be left-aligned on small screens */
    }
  }

/* padding & width */
.padding {
    padding: 50px;
    max-width: 800px;
    }

.paragraph {
    max-width: 800px;
    padding-left: 50px;
    }

.timers {
    position: absolute;
    background: #ffffff;
    right: 70px;
    bottom: 70px;
    padding: 40px 0;
    font-family: 'Roboto mono',monospace;
    color: #0381bb;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0,139,253,0.25);
}

.timerDisplay{
    position: relative;
    left: 88%;
    bottom: 88%;
    width: 10%;
    font-size: 40px;
    box-shadow: 0 0 20px rgba(0,139,253,0.25);
    justify-content: space-around;
    display: flex;
    }

.timerText{
    font-size: 12px;
    }