{% extends "layout.html" %}

{% block title %}
    Change password
{% endblock %}

{% block main %}
    <form action="/password" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="old_pass" name="old_pass" placeholder="Old password" type="password">
        </div>
        <div class="zeromargin">
            <ul>
                <li> Password should: </li>
                <li> Be at least 8 characters long </li>
                <li> Contain 1 uppercase and 1 lowercase letter </li>
                <li> Contain 1 number </li>
            </ul>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="new_pass" name="new_pass" placeholder="New password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="new_pass_confirm" name="new_pass_confirm" placeholder="Repeat new password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Change password</button>
    </form>
{% endblock %}
